<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>
<body>


<div class="container">

    <h1 class="text-center">Application Mcommerce</h1>

    <h1>Exercice 2</h1>
    Commande N° : <b th:text="${expedition.idCommande}"></b><br/>

    <label>état de la commande :</label><br/>

    <span class="text-warning"  th:if="${expedition.etat==0}">En préparation</span>
    <span class="text-success"  th:if="${expedition.etat==1}">Expédiée</span>
    <span class="text-info"  th:if="${expedition.etat==2}">Livrée</span>

</div>


<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>